In [1]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeRegressor

In [33]:
iowa_file_path='https://raw.githubusercontent.com/aryamanan/mydata/main/Home%20Data/iowa_data.csv' # path of our csv file (github raw link)
home_data=pd.read_csv(iowa_file_path) # load the path in our pandas dataframe variable


home_data.head() #first 5 elements

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [15]:
# Print summary statistics in next line
home_data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [17]:
# What is the average lot size (rounded to nearest integer)?

avg_lot_size = 10517 # check the mean row and LotArea

# As of today, how old is the newest home (current year - the date in which it was built)
newest_home_age = 2023-2010

#Step 1: 
##Specify Prediction Target

- Select the target variable, which corresponds to the sales price. Save this to a new variable called y. 
- You'll need to print a list of the columns to find the name of the column you need.

In [20]:
# print the list of columns in the dataset to find the name of the prediction target
home_data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [21]:
y = home_data.SalePrice #Select the target variable, which corresponds to the sales price from the columns

# Step 2: Create X

- Now you will create a DataFrame called X holding the predictive features.

- Since you want only some columns from the original data, you'll first create a list with the names of the columns you want in X.

- You'll use just the following columns in the list (you can copy and paste the whole list to save some typing, though you'll still need to add quotes):

  -  LotArea
  - YearBuilt
  - 1stFlrSF
  - 2ndFlrSF
  - FullBath
  - BedroomAbvGr
  - TotRmsAbvGrd

  
After you've created that list of features, use it to create the DataFrame that you'll use to fit the model.

In [24]:
# Create the list of features below
feature_names={"LotArea","YearBuilt","1stFlrSF","2ndFlrSF","FullBath","BedroomAbvGr","TotRmsAbvGrd"}
# Select data corresponding to features in feature_names
X = home_data[feature_names]
X

<ipython-input-24-0acb5a2d068a>:4: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  X = home_data[feature_names]

,TotRmsAbvGrd,FullBath,YearBuilt,BedroomAbvGr,2ndFlrSF,1stFlrSF,LotArea
0,8,2,2003,3,854,856,8450
1,6,2,1976,3,0,1262,9600
2,6,2,2001,3,866,920,11250
3,7,1,1915,3,756,961,9550
4,9,2,2000,4,1053,1145,14260
...,...,...,...,...,...,...,...
1455,7,2,1999,3,694,953,7917
1456,7,2,1978,3,0,2073,13175
1457,9,2,1941,4,1152,1188,9042
1458,5,1,1950,2,0,1078,9717
1459,6,1,1965,3,0,1256,9937

##Review Data

- Before building a model, take a quick look at X to verify it looks sensible

In [26]:
# Review data
# print description or statistics from X
X.describe()

,TotRmsAbvGrd,FullBath,YearBuilt,BedroomAbvGr,2ndFlrSF,1stFlrSF,LotArea
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,6.517808,1.565068,1971.267808,2.866438,346.992466,1162.626712,10516.828082
std,1.625393,0.550916,30.202904,0.815778,436.528436,386.587738,9981.264932
min,2.000000,0.000000,1872.000000,0.000000,0.000000,334.000000,1300.000000
25%,5.000000,1.000000,1954.000000,2.000000,0.000000,882.000000,7553.500000
50%,6.000000,2.000000,1973.000000,3.000000,0.000000,1087.000000,9478.500000
75%,7.000000,2.000000,2000.000000,3.000000,728.000000,1391.250000,11601.500000
max,14.000000,3.000000,2010.000000,8.000000,2065.000000,4692.000000,215245.000000

In [28]:
# print the top few lines
X.head()

,TotRmsAbvGrd,FullBath,YearBuilt,BedroomAbvGr,2ndFlrSF,1stFlrSF,LotArea
0,8,2,2003,3,854,856,8450
1,6,2,1976,3,0,1262,9600
2,6,2,2001,3,866,920,11250
3,7,1,1915,3,756,961,9550
4,9,2,2000,4,1053,1145,14260

# Step 3: 
## Specify and Fit Model

- Create a DecisionTreeRegressor and save it iowa_model. Ensure you've done the relevant import from sklearn to run this command.

- Then fit the model you just created using the data in X and y that you saved above.

In [34]:
#For model reproducibility, set a numeric value for random_state when specifying the model
iowa_model = DecisionTreeRegressor(random_state=1)

# DecisionTreeRegressor is a type of decision tree model used for regression tasks, where the goal is to predict a continuous target variable. 
# The random_state parameter is used to set the random seed for the random number generator used by the model during training. 
# Setting the random_state parameter ensures that the results of the model training are reproducible, so that if you run the same code multiple times, you will get the same results each time.

# Fit the model
iowa_model.fit(X,y)

DecisionTreeRegressor(random_state=1)

#Step 4: 
## Make Predictions

- Make predictions with the model's predict command using X as the data. Save the results to a variable called predictions.

In [32]:
predictions = iowa_model.predict(X)
print(predictions)

[208500. 181500. 223500. ... 266500. 142125. 147500.]